#tools{
    .tabs{
        .tab{
            min-width: 0px;
        }
    }
    .list-container{
        ul{
            display: none;
            li{
                margin: 5px 0px;
                .type{
                    float: right;
                }
            }
        }
    }
}
