#tools{
    flex: 1;

    button{
        &.active{
            color: $white;
            background-color: $mf-green;
            border-color: $mf-green;
            box-shadow: none;
        }
    }

    .list-container{
        ul{
            display: none;
            li{
                margin: 5px 0px;

                img {
                    margin-right: 5px;
                }

                .type{
                    color: lighten($mf-black, 50%);
                    float: right;
                }
            }
        }
    }
}
