<template name="okrEntryForm">
   <li class="module">
      <form class="okr-entry-form" id="{{this._id}}">
         <div class="title-wrapper">
            <input type="text" name="title" class="title" placeholder="OKR Title" value="{{this.title}}"/>
            <span class="progress-title">Progress %</span>
            <span class="total-title">Total: 100%</span>
         </div>
         {{#each objective in this.objectives}}
            <fieldset data-objective-id="{{objective._id}}">
               <textarea name="description" class="objective-desc" placeholder="Objective" value="{{objective.description}}"></textarea>
               <input type="number" name="progress" class="objective-progress" placeholder="OKR Progress" value="{{objective.progress}}"/>
               <button type="button" class="delete-objective btn btn-sm btn-danger pull-right" data-objective-id="{{objective._id}}">
                  <span aria-hidden="true">&times;</span>
               </button>
            </fieldset>
         {{/each}}
         <button type="submit" class="btn">Save</button>
         <button type="button" class="add-new-objective btn" data-id="{{this._id}}">Add Objective</button>
         <button type="button" class="delete-okr btn btn-danger pull-right" data-okr-id="{{this._id}}">Delete OKR</button>
      </form>
   </li>
</template>
