#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    svg {
        path{
            fill: none;
            stroke: $mf-green;
            stroke-width: .25;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation-name: draw;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @-webkit-keyframes draw{
            to{
                stroke-dashoffset:0;
            }
        }
        @keyframes draw{
            to{
                stroke-dashoffset:0;
            }
        }
    }
}
