#workflowmax{
    flex: 1;

    ul{
        list-style: none;
        margin-bottom: 0;

        li:first-child {
            h5 {
                margin-top: 0;
            }
        }

        li {
            h5 {
                margin-top: 20px;
            }

            .bar-graph {
                position: relative;
                height: 30px;

                span{
                    position: absolute;
                    top: 0px;
                    left: 0px;

                    &.empty {
                        display: block;
                        height: 30px;
                        background: lighten($mf-green, 50%);
                        border: 1px solid $mf-green;
                        width: 100%;
                        border-radius: 4px;
                    }

                    &.hours{
                        display: block;
                        height: 30px;
                        background: lighten($mf-green, 10%);
                        border: 1px solid $mf-green;
                        font-weight: 300;
                        max-width: 100%;
                        border-radius: 4px;

                        &.not-complete{
                            border-radius: 4px 0px 0px 4px;
                        }
                        &.complete{
                            border-color: $mf-green;
                        }
                    }
                }
            }
        }
    }
}
