#timesheet-week{
   li{
      border-bottom: 1px solid;
      margin-bottom: 10px;
      padding-bottom: 5px;
   }
   .complete{
      border-color: $brand-success;
      > span{
         color: $brand-success;
      }
   }
   .not-complete{
      border-color: $brand-danger;
      > span{
         color: $brand-danger;
      }
   }
}
