.iconav{
    margin-top: 0px;
    #login-buttons{
        margin: 10px 0px;
    }
    .login-text-and-button{
        text-align: center;
        #login-buttons-logout{
            &:hover{
                color: $gray-lighter;
                cursor: pointer;
            }
        }
        .login-display-name{
            font-size: 90%;
        }
    }
}
