// container padding to make space for sidebar
.container{
    padding-left: 15px;
    @media #{$media-sm}{
        padding-left: 85px;
    }
}

ul{
    padding-left: 0px;
    list-style: none;
}

.module{
    margin-bottom: 40px;
}
