body {
	background: $mf-grey;
}

ul{
	padding-left: 0px;
	list-style: none;
}

.module{
	background: #fff;
	// margin: 30px;
	padding: 20px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
	// height: 340px;
	overflow-y: auto;
	width: calc(100% - 30px);

	&.width-25{
		@include media-breakpoint-up(md){
			width: calc(25vw - 23px);
		}
		@include media-breakpoint-up(xl){
			width: calc(25vw - 20px);
		}
	}

	&.width-50{
		@include media-breakpoint-up(md){
			width: calc(50vw - 23px);
		}
		@include media-breakpoint-up(xl){
			width: calc((100vw / 3) - 20px);
		};
	}

	&.width-75{
		@include media-breakpoint-up(md){
			width: calc(75vw - 23px);
		}
	}

	&.width-100{
		@include media-breakpoint-up(md){
			width: calc(100vw - 23px);
		}
		@include media-breakpoint-up(xl){
			width: calc(75vw - 20px);
		}
	}
	.title {
		margin-bottom: 20px;
		h4 {
			margin-bottom: 0.8em;
		}
	}
}


.btn {
	background-color: $mf-green;
	border: 1px solid $mf-green;
	padding: 7px 12px 6px 12px;
	color: $white !important;
	&:hover {
		box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translateY(-2px);
	}
	&:focus{
		outline: none !important;
	}
}

.form-control:focus {
	border: 1px solid $mf-green;
	box-shadow: none;
}

.label-default {
	background-color: rgba(0,0,0,0.3);
}
