@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maisonneue';
    src: url('../fonts/maisonneue-book.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maisonneue bold';
    src: url('../fonts/maisonneue-bold.woff');
    font-weight: normal;
    font-style: normal;
}
