// fonts
// $font-body: 'Lato', sans-serif;
// $font-weight-bold: 700;
// $font-weight-normal: 400;
// $font-weight-light: 300;

// colors
$c-background: #F6F4F0;
$c-accent: #AAC03F;
$c-dark: #141F31;
