// colors
// $gray-base:			#000;
// $gray-dark:			#222;
// $gray-darker:		#111;
// $gray:				#555;
// $gray-light:		#aaa;
// $gray-lighter:		#f5f5f5;

// mf colors
$mf-black:			#1b1b1b;
$mf-green:			#0ac0c2;
$mf-blue:			#4fb9d7;
$mf-navy:			#131f32;
$mf-grey:         #f3f3f3;

// special light gray for flourishes like hr's
$gray-subtle:		#eee;
$white:				#ffffff;

// media queries: http://getbootstrap.com/css/#grid-media-queries
$media-xs:			'(max-width:767px)';
$media-sm:			'(min-width:768px)';
$media-md:			'(min-width:992px)';
$media-lg:			'(min-width:1200px)';

// gray scale
$gray-base:			#252830;
$gray-darker:		lighten($gray-base, 13.5%);
$gray-dark:			lighten($gray-base, 20%);
$gray:				lighten($gray-base, 33.5%);
$gray-light:		lighten($gray-base, 66.7%);
$gray-lighter:		lighten($gray-base, 93.5%);

// reset gray subtle
$gray-subtle:		$gray-light;
