// Gray scale
$gray-base:    #252830;
$gray-darker:  lighten($gray-base, 13.5%);
$gray-dark:    lighten($gray-base, 20%);
$gray:         lighten($gray-base, 33.5%);
$gray-light:   lighten($gray-base, 66.7%);
$gray-lighter: lighten($gray-base, 93.5%);

// reset gray subtle
$gray-subtle: $gray-light;

// Scaffolding
$body-bg:           $gray-base;
$text-color:        $gray-light;
$btn-default-color: $gray-dark;
