#meeting-rooms{
    .col-20{
        float: left;
        width: 100%;
        display: inline-block;
        padding: 5px;
        @media #{$media-lg}{
            width: 20%;
        }
    }
    .list-group-item{
        &.not-in-session{
            .session-notice{
                display: none;
            }
        }
        &.in-session{
            .session-notice{
                display: block;
                color: $brand-danger;
            }
        }
    }
    .list-group-progress{
        transition: all 0.2s ease;

    }
}
