#calendar-template{
   .past{
      display: none;
   }
   .list-group-item-danger{
      background-color: $brand-danger;
      color: $mf-navy;
      span{
         transform: scale(1.1);
      }
   }
   a{
      span{
         text-rendering: optimizeLegibility;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
      }
   }
}
