#weather-template{
   .studio-wrapper{
      margin-bottom: 10px;
   }
   i{
      margin-right: 2px;
      color: $white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;;
      min-height: 25px;
      min-width: 25px;
      display: inline-block;
      vertical-align: text-bottom;
      @for $i from 1 through 60{
         &.sw-#{$i}{
            background-image: url(weather-icons/sw-#{$i}.svg);
         }
      }
   }
}
